<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Test Automation Suite" verbose="1" thread-count="2" parallel="tests">

    <test name="Chrome Tests ">
        <classes>
            <class name="  " />
        </classes>

    </test>
    <listeners>
        <listener class-name="" />
    </listeners>


</suite>